IRISHealth/dev/studio/templates/htmltags.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Marvin Tener (private) -->
<!--DTD generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<!ELEMENT attr EMPTY>
<!ATTLIST attr
	name (P1 | P2 | P3 | P4 | XMLNS:SQL | XMLNS:XSQL | abbr | accept | accept-charset | accesskey | action | align | alink | alt | archive | arg1 | arg2 | arg3 | arg4 | axis | background | bgcolor | block | border | caption | cellpadding | cellspacing | char | charoff | charset | checked | cite | class | classid | classname | clear | code | codebase | codetype | color | cols | colspan | condition | connection | content | coords | counter | cspbind | cspnotrim | csprequired | cspcaption | cspvalid | cspevent | cspjs | cursor | data | datasource | datetime | declare | defaulttext | defer | delimiter | description | dir | disabled | domain | encoded | enctype | errorpage | expires | face | features | field | form | frame | frameborder | from | headers | height | href | hreflang | hspace | http-equiv | id | idname | import | includes | into | ismap | label | lang | language | link | longdesc | marginheight | marginwidth | max-rows | maxlength | maxrows | media | method | mode | multiple | name | new | nocharsetconvert | nohref | noresize | noshade | nowrap | object | objid | objidattr | onblur | onchange | onclick | ondblclick | onfocus | onkeydown | onkeypress | onkeyup | onload | onmousedown | onmousemove | onmouseout | onmouseover | onmouseup | onreset | onselect | onsubmit | onunload | options | order | page | password | predicates | private | query | queryname | readonly | rel | rev | row-element | rows | rowset-element | rowspan | rules | runat | scheme | scope | scrolling | select | selected | shape | showsql | size | skip-rows | src | standby | start | startvalues | step | style | summary | super | tabindex | tag-case | target | text | textid | title | to | type | usemap | username | valign | value | valuetype | vars | vlink | vspace | where | width) #REQUIRED
	type (boolean | char | color | datetime | enum | number | script | string | uri) #REQUIRED
	enum CDATA #IMPLIED
	desc CDATA #REQUIRED
	cat (CSPBind | Cache | Core | CSPText | Event | JavaScript | Lang | Other | SQL) #IMPLIED
	enumlist CDATA #IMPLIED
>
<!ELEMENT attrs (#PCDATA | attr)*>
<!ELEMENT description (#PCDATA)>
<!ELEMENT element (description?, attrs?)>
<!ATTLIST element
	ename (A | ADDRESS | APPLET | AREA | B | BASEFONT | BDO | BLOCKQUOTE | BODY | BR | CAPTION | CENTER | CSP:CLASS | CSP:COMMENT | CSP:CONTENT | CSP:CONTINUE | CSP:ELSE | CSP:ELSEIF | CSP:IF | CSP:INCLUDE | CSP:LOOP | CSP:NEW | CSP:OBJECT | CSP:QUERY | CSP:QUIT | CSP:SEARCH | CSP:SECTION | CSP:SQLQUERY | CSP:StudioGenerateTemplate | CSP:StudioInteractiveTemplate | CSP:StudioSimpleTemplate | CSP:TEXT | CSP:WHILE | DEL | DIV | EM | FONT | FORM | FRAME | FRAMESET | H1 | H2 | H3 | H4 | H5 | H6 | HEAD | HR | HTML | I | IFRAME | IMG | INPUT | INS | LI | LINK | MAP | META | NOBR | NOFRAMES | OBJECT | OL | OPTGROUP | OPTION | P | PARAM | PRE | Q | SCRIPT | SELECT | SPAN | SQL:QUERY | STRONG | SUB | SUP | TABLE | TD | TEXTAREA | TH | TITLE | TR | UL | XSQL:QUERY) #REQUIRED
	edesc CDATA #REQUIRED
	empty CDATA #IMPLIED
>
<!ELEMENT elementlist (element+)>
	<!ENTITY coreattrs "
<attr name=&#34;id&#34;     cat=&#34;Core&#34; type=&#34;string&#34; desc=&#34;Unique identifier.&#34; />
<attr name=&#34;class&#34;  cat=&#34;Core&#34; type=&#34;string&#34; desc=&#34;Space-separated list of classes.&#34; />
<attr name=&#34;style&#34;  cat=&#34;Core&#34; type=&#34;string&#34; desc=&#34;Associated style info.&#34; />
<attr name=&#34;title&#34;  cat=&#34;Core&#34; type=&#34;string&#34; desc=&#34;Advisory title.&#34; />

">
	<!ENTITY i18n "

<attr name=&#34;lang&#34;  cat=&#34;Lang&#34; type=&#34;string&#34; desc=&#34;Language code.&#34; />
<attr name=&#34;dir&#34;  cat=&#34;Lang&#34; type=&#34;enum&#34; enum=&#34;ltr|rtl&#34; desc=&#34;Direction for weak/neutral text.&#34; />

">
	<!ENTITY events "
<attr name=&#34;onclick&#34;     cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A pointer button was clicked.&#34; />
<attr name=&#34;ondblclick&#34;  cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A pointer button was double clicked.&#34; />
<attr name=&#34;onmousedown&#34; cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A pointer button was pressed down.&#34; />
<attr name=&#34;onmouseup&#34;   cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A pointer button was released.&#34; />
<attr name=&#34;onmouseover&#34; cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A pointer was moved onto.&#34; />
<attr name=&#34;onmousemove&#34; cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A pointer was moved within.&#34; />
<attr name=&#34;onmouseout&#34;  cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A pointer was moved away.&#34; />
<attr name=&#34;onkeypress&#34;  cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A key was pressed and released.&#34; />
<attr name=&#34;onkeydown&#34;   cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A key was pressed down.&#34; />
<attr name=&#34;onkeyup&#34;     cat=&#34;Event&#34; type=&#34;script&#34; desc=&#34;A key was released.&#34; />
">
	<!ENTITY attrs "&coreattrs; &i18n; &events;">
	<!ENTITY align "left|center|right|justify">
	<!ENTITY csptext "
<attr name=&#34;textid&#34;    cat=&#34;CSPText&#34;   type=&#34;string&#34; desc=&#34;The text string identifier within the domain.&#34; />
<attr name=&#34;domain&#34;    cat=&#34;CSPText&#34;   type=&#34;string&#34; desc=&#34;The optional application domain for looking up this text.  &#37;response.Domain is used if not specified.&#34; />
<attr name=&#34;language&#34;  cat=&#34;CSPText&#34;   type=&#34;string&#34; desc=&#34;The optional RFC 1766 format language name for looking up this text. &#37;response.Language is used if not specified.&#34; />
<attr name=&#34;arg1&#34;      cat=&#34;CSPText&#34;   type=&#34;string&#34; desc=&#34;Replaces &#37;1 in the message text.&#34; />
<attr name=&#34;arg2&#34;      cat=&#34;CSPText&#34;   type=&#34;string&#34; desc=&#34;Replaces &#37;2 in the message text.&#34; />
<attr name=&#34;arg3&#34;      cat=&#34;CSPText&#34;   type=&#34;string&#34; desc=&#34;Replaces &#37;3 in the message text.&#34; />
<attr name=&#34;arg4&#34;      cat=&#34;CSPText&#34;   type=&#34;string&#34; desc=&#34;Replaces &#37;4 in the message text.&#34; />
">
	<!ENTITY cspbind "
<attr name=&#34;cspbind&#34;     cat=&#34;CSPBind&#34;   type=&#34;string&#34; desc=&#34;The name of the object property to be bound.&#34; />
<attr name=&#34;cspnotrim&#34;   cat=&#34;CSPBind&#34;   type=&#34;boolean&#34; desc=&#34;If present, do not blank trim object values.&#34; />
<attr name=&#34;csprequired&#34; cat=&#34;CSPBind&#34;   type=&#34;boolean&#34; desc=&#34;If present, indicates that a value must be supplied.&#34; />
<attr name=&#34;cspvalid&#34;    cat=&#34;CSPBind&#34;   type=&#34;string&#34; desc=&#34;Client-side JavaScript code to run to validate the element&#39;s contents.&#34; />
<attr name=&#34;cspcaption&#34;  cat=&#34;CSPBind&#34;   type=&#34;string&#34; desc=&#34;Name to use for property in error messages.&#34; />
<attr name=&#34;delimiter&#34;   cat=&#34;CSPBind&#34;   type=&#34;string&#34; desc=&#34;Delimiter to use between elements of a list.&#34; />
">
