IRISHealth/dev/wsdls/HS.IHE.DSUB.NotificationConsumer.Services.CLS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://docs.oasis-open.org/wsn/bw-2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://docs.oasis-open.org/wsn/b-2" name="DSUBRecipientWSService" targetNamespace="http://docs.oasis-open.org/wsn/bw-2">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:ns1="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" version="1.0">
   <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>
   <xs:element name="RegistryError" type="tns:RegistryError_._type"/>
   <xs:element name="RegistryErrorList" type="tns:RegistryErrorList_._type"/>
   <xs:element name="RegistryRequest" type="tns:RegistryRequestType"/>
   <xs:element name="RegistryResponse" type="tns:RegistryResponseType"/>
   <xs:complexType name="RegistryRequestType">
      <xs:sequence>
         <xs:element minOccurs="0" name="RequestSlotList" type="ns1:SlotListType"/>
      </xs:sequence>
      <xs:attribute name="comment" type="xs:string"/>
      <xs:attribute name="id" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="RegistryResponseType">
      <xs:sequence>
         <xs:element minOccurs="0" name="ResponseSlotList" type="ns1:SlotListType"/>
         <xs:element minOccurs="0" ref="tns:RegistryErrorList"/>
      </xs:sequence>
      <xs:attribute name="requestId" type="xs:string"/>
      <xs:attribute name="status" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="RegistryErrorList_._type">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="tns:RegistryError"/>
      </xs:sequence>
      <xs:attribute name="highestSeverity" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="RegistryError_._type">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="codeContext" type="xs:string" use="required"/>
            <xs:attribute name="errorCode" type="xs:string" use="required"/>
            <xs:attribute name="location" type="xs:string"/>
            <xs:attribute name="severity" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:ns3="urn:ihe:iti:xds-b:2007" xmlns:ns2="http://www.w3.org/2004/08/xop/include" xmlns:ns1="http://docs.oasis-open.org/wsn/bw-2" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" version="1.0">
   <xs:import namespace="http://docs.oasis-open.org/wsn/bw-2"/>
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
   <xs:import namespace="http://www.w3.org/2004/08/xop/include"/>
   <xs:import namespace="urn:ihe:iti:xds-b:2007"/>
   <xs:element name="Action" type="tns:ActionType"/>
   <xs:element name="AdhocQuery" type="tns:AdhocQueryType"/>
   <xs:element name="Association" type="tns:AssociationType1"/>
   <xs:element name="AuditableEvent" type="tns:AuditableEventType"/>
   <xs:element name="Classification" type="tns:ClassificationType"/>
   <xs:element name="ClassificationNode" type="tns:ClassificationNodeType"/>
   <xs:element name="ClassificationScheme" type="tns:ClassificationSchemeType"/>
   <xs:element name="ConformanceProfileType" type="tns:ConformanceProfileType"/>
   <xs:element name="EmailAddress" type="tns:EmailAddressType"/>
   <xs:element name="ExternalIdentifier" type="tns:ExternalIdentifierType"/>
   <xs:element name="ExternalLink" type="tns:ExternalLinkType"/>
   <xs:element name="ExtrinsicObject" type="tns:ExtrinsicObjectType"/>
   <xs:element name="Federation" type="tns:FederationType"/>
   <xs:element name="Identifiable" type="tns:IdentifiableType"/>
   <xs:element name="InternationalStringType" type="tns:InternationalStringType"/>
   <xs:element name="LocalizedString" type="tns:LocalizedStringType"/>
   <xs:element name="Notification" type="tns:NotificationType"/>
   <xs:element name="NotifyAction" type="tns:NotifyActionType"/>
   <xs:element name="ObjectRef" type="tns:ObjectRefType"/>
   <xs:element name="ObjectRefList" type="tns:ObjectRefListType"/>
   <xs:element name="Organization" type="tns:OrganizationType"/>
   <xs:element name="Person" type="tns:PersonType"/>
   <xs:element name="PersonName" type="tns:PersonNameType"/>
   <xs:element name="PostalAddressType" type="tns:PostalAddressType"/>
   <xs:element name="QueryExpression" type="tns:QueryExpressionType"/>
   <xs:element name="Registry" type="tns:RegistryType"/>
   <xs:element name="RegistryObject" type="tns:RegistryObjectType"/>
   <xs:element name="RegistryObjectList" type="tns:RegistryObjectListType"/>
   <xs:element name="RegistryPackage" type="tns:RegistryPackageType"/>
   <xs:element name="Service" type="tns:ServiceType"/>
   <xs:element name="ServiceBinding" type="tns:ServiceBindingType"/>
   <xs:element name="Slot" type="tns:SlotType1"/>
   <xs:element name="SlotList" type="tns:SlotListType"/>
   <xs:element name="SpecificationLink" type="tns:SpecificationLinkType"/>
   <xs:element name="Subscription" type="tns:SubscriptionType"/>
   <xs:element name="TelephoneNumber" type="tns:TelephoneNumberType"/>
   <xs:element name="TelephoneNumberListType" type="tns:TelephoneNumberListType"/>
   <xs:element name="User" type="tns:UserType"/>
   <xs:element name="ValueList" type="tns:ValueListType"/>
   <xs:element name="VersionInfoType" type="tns:VersionInfoType"/>
   <xs:complexType name="RegistryObjectListType">
      <xs:sequence>
         <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="Identifiable" type="tns:IdentifiableType"/>
            <xs:element name="Association" type="tns:AssociationType1"/>
            <xs:element name="AuditableEvent" type="tns:AuditableEventType"/>
            <xs:element name="Classification" type="tns:ClassificationType"/>
            <xs:element name="ClassificationNode" type="tns:ClassificationNodeType"/>
            <xs:element name="ClassificationScheme" type="tns:ClassificationSchemeType"/>
            <xs:element name="ExternalIdentifier" type="tns:ExternalIdentifierType"/>
            <xs:element name="ExternalLink" type="tns:ExternalLinkType"/>
            <xs:element name="ExtrinsicObject" type="tns:ExtrinsicObjectType"/>
            <xs:element name="Federation" type="tns:FederationType"/>
            <xs:element name="ObjectRef" type="tns:ObjectRefType"/>
            <xs:element name="Organization" type="tns:OrganizationType"/>
            <xs:element name="Person" type="tns:PersonType"/>
            <xs:element name="Registry" type="tns:RegistryType"/>
            <xs:element name="RegistryObject" type="tns:RegistryObjectType"/>
            <xs:element name="RegistryPackage" type="tns:RegistryPackageType"/>
            <xs:element name="Service" type="tns:ServiceType"/>
            <xs:element name="ServiceBinding" type="tns:ServiceBindingType"/>
            <xs:element name="SpecificationLink" type="tns:SpecificationLinkType"/>
            <xs:element name="Subscription" type="tns:SubscriptionType"/>
            <xs:element name="User" type="tns:UserType"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RegistryPackageType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element minOccurs="0" ref="tns:RegistryObjectList"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RegistryObjectType">
      <xs:complexContent>
         <xs:extension base="tns:IdentifiableType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Name" type="tns:InternationalStringType"/>
               <xs:element minOccurs="0" name="Description" type="tns:InternationalStringType"/>
               <xs:element minOccurs="0" name="VersionInfo" type="tns:VersionInfoType"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Classification"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ExternalIdentifier"/>
            </xs:sequence>
            <xs:attribute name="lid" type="xs:string"/>
            <xs:attribute name="objectType" type="xs:string"/>
            <xs:attribute name="status" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="IdentifiableType">
      <xs:complexContent>
         <xs:extension base="ns1:stringMatcher">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Slot"/>
            </xs:sequence>
            <xs:attribute name="home" type="xs:string"/>
            <xs:attribute name="id" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InternationalStringType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:LocalizedString"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LocalizedStringType">
      <xs:sequence/>
      <xs:attribute name="charset" type="xs:string"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="VersionInfoType">
      <xs:sequence/>
      <xs:attribute name="comment" type="xs:string"/>
      <xs:attribute name="versionName" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="ClassificationType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence/>
            <xs:attribute name="classificationNode" type="xs:string"/>
            <xs:attribute name="classificationScheme" type="xs:string"/>
            <xs:attribute name="classifiedObject" type="xs:string" use="required"/>
            <xs:attribute name="nodeRepresentation" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ExternalIdentifierType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence/>
            <xs:attribute name="identificationScheme" type="xs:string" use="required"/>
            <xs:attribute name="registryObject" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SlotType1">
      <xs:complexContent>
         <xs:extension base="ns1:stringMatcher">
            <xs:sequence>
               <xs:element ref="tns:ValueList"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="slotType" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ValueListType">
      <xs:complexContent>
         <xs:extension base="ns1:valueSetParser">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Value" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AssociationType1">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence/>
            <xs:attribute name="associationType" type="xs:string" use="required"/>
            <xs:attribute name="sourceObject" type="xs:string" use="required"/>
            <xs:attribute name="targetObject" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ExtrinsicObjectType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ContentVersionInfo" type="tns:VersionInfoType"/>
               <xs:element minOccurs="0" ref="ns3:Document"/>
            </xs:sequence>
            <xs:attribute name="isOpaque" type="xs:boolean"/>
            <xs:attribute name="mimeType" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SlotListType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Slot"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FederationType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence/>
            <xs:attribute name="replicationSyncLatency" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="NotificationType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element ref="tns:RegistryObjectList"/>
            </xs:sequence>
            <xs:attribute name="subscription" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="NotifyActionType">
      <xs:complexContent>
         <xs:extension base="tns:ActionType">
            <xs:sequence/>
            <xs:attribute name="endPoint" type="xs:string" use="required"/>
            <xs:attribute name="notificationOption" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract="true" name="ActionType">
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="OrganizationType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Address" type="tns:PostalAddressType"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:TelephoneNumber"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:EmailAddress"/>
            </xs:sequence>
            <xs:attribute name="parent" type="xs:string"/>
            <xs:attribute name="primaryContact" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PostalAddressType">
      <xs:sequence/>
      <xs:attribute name="city" type="xs:string"/>
      <xs:attribute name="country" type="xs:string"/>
      <xs:attribute name="postalCode" type="xs:string"/>
      <xs:attribute name="stateOrProvince" type="xs:string"/>
      <xs:attribute name="street" type="xs:string"/>
      <xs:attribute name="streetNumber" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="TelephoneNumberType">
      <xs:sequence/>
      <xs:attribute name="areaCode" type="xs:string"/>
      <xs:attribute name="countryCode" type="xs:string"/>
      <xs:attribute name="extension" type="xs:string"/>
      <xs:attribute name="number" type="xs:string"/>
      <xs:attribute name="phoneType" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="EmailAddressType">
      <xs:sequence/>
      <xs:attribute name="address" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="PersonNameType">
      <xs:sequence/>
      <xs:attribute name="firstName" type="xs:string"/>
      <xs:attribute name="lastName" type="xs:string"/>
      <xs:attribute name="middleName" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="PersonType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Address" type="tns:PostalAddressType"/>
               <xs:element minOccurs="0" ref="tns:PersonName"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:TelephoneNumber"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:EmailAddress"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RegistryType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence/>
            <xs:attribute name="catalogingLatency" type="xs:string"/>
            <xs:attribute name="conformanceProfile" type="tns:ConformanceProfileType"/>
            <xs:attribute name="operator" type="xs:string" use="required"/>
            <xs:attribute name="replicationSyncLatency" type="xs:string"/>
            <xs:attribute name="specificationVersion" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ServiceBindingType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:SpecificationLink"/>
            </xs:sequence>
            <xs:attribute name="accessURI" type="xs:string"/>
            <xs:attribute name="service" type="xs:string" use="required"/>
            <xs:attribute name="targetBinding" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SpecificationLinkType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element minOccurs="0" name="UsageDescription" type="tns:InternationalStringType"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="UsageParameter" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="serviceBinding" type="xs:string" use="required"/>
            <xs:attribute name="specificationObject" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ServiceType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ServiceBinding"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SubscriptionType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Action" type="tns:ActionType"/>
            </xs:sequence>
            <xs:attribute name="endTime" type="xs:string"/>
            <xs:attribute name="notificationInterval" type="xs:string"/>
            <xs:attribute name="selector" type="xs:string" use="required"/>
            <xs:attribute name="startTime" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TelephoneNumberListType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:TelephoneNumber"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UserType">
      <xs:complexContent>
         <xs:extension base="tns:PersonType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AuditableEventType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element name="affectedObjects" type="tns:ObjectRefListType"/>
            </xs:sequence>
            <xs:attribute name="eventType" type="xs:string" use="required"/>
            <xs:attribute name="requestId" type="xs:string" use="required"/>
            <xs:attribute name="timestamp" type="xs:string" use="required"/>
            <xs:attribute name="user" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ObjectRefListType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ObjectRef"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ObjectRefType">
      <xs:complexContent>
         <xs:extension base="tns:IdentifiableType">
            <xs:sequence/>
            <xs:attribute name="createReplica" type="xs:boolean"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ClassificationNodeType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ClassificationNode"/>
            </xs:sequence>
            <xs:attribute name="code" type="xs:string"/>
            <xs:attribute name="parent" type="xs:string"/>
            <xs:attribute name="path" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ClassificationSchemeType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ClassificationNode"/>
            </xs:sequence>
            <xs:attribute name="isInternal" type="xs:boolean" use="required"/>
            <xs:attribute name="nodeType" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ExternalLinkType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence/>
            <xs:attribute name="externalURI" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AdhocQueryType">
      <xs:complexContent>
         <xs:extension base="tns:RegistryObjectType">
            <xs:sequence>
               <xs:element minOccurs="0" ref="tns:QueryExpression"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType mixed="true" name="QueryExpressionType">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
      <xs:attribute name="queryLanguage" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:simpleType name="ConformanceProfileType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="registryFull"/>
         <xs:enumeration value="registryLite"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:ns2="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:ns1="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" version="1.0">
   <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>
   <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"/>
   <xs:element name="AcceptObjectsRequest" type="tns:AcceptObjectsRequest_._type"/>
   <xs:element name="ApproveObjectsRequest" type="tns:ApproveObjectsRequest_._type"/>
   <xs:element name="DeprecateObjectsRequest" type="tns:DeprecateObjectsRequest_._type"/>
   <xs:element name="RelocateObjectsRequest" type="tns:RelocateObjectsRequest_._type"/>
   <xs:element name="RemoveObjectsRequest" type="tns:RemoveObjectsRequest_._type"/>
   <xs:element name="SubmitObjectsRequest" type="tns:SubmitObjectsRequest_._type"/>
   <xs:element name="UndeprecateObjectsRequest" type="tns:UndeprecateObjectsRequest_._type"/>
   <xs:element name="UpdateObjectsRequest" type="tns:UpdateObjectsRequest_._type"/>
   <xs:complexType name="SubmitObjectsRequest_._type">
      <xs:complexContent>
         <xs:extension base="ns2:RegistryRequestType">
            <xs:sequence>
               <xs:element ref="ns1:RegistryObjectList"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ApproveObjectsRequest_._type">
      <xs:complexContent>
         <xs:extension base="ns2:RegistryRequestType">
            <xs:sequence>
               <xs:element minOccurs="0" ref="ns1:AdhocQuery"/>
               <xs:element minOccurs="0" ref="ns1:ObjectRefList"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DeprecateObjectsRequest_._type">
      <xs:complexContent>
         <xs:extension base="ns2:RegistryRequestType">
            <xs:sequence>
               <xs:element minOccurs="0" ref="ns1:AdhocQuery"/>
               <xs:element minOccurs="0" ref="ns1:ObjectRefList"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RelocateObjectsRequest_._type">
      <xs:complexContent>
         <xs:extension base="ns2:RegistryRequestType">
            <xs:sequence>
               <xs:element ref="ns1:AdhocQuery"/>
               <xs:element name="SourceRegistry" type="ns1:ObjectRefType"/>
               <xs:element name="DestinationRegistry" type="ns1:ObjectRefType"/>
               <xs:element name="OwnerAtSource" type="ns1:ObjectRefType"/>
               <xs:element name="OwnerAtDestination" type="ns1:ObjectRefType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RemoveObjectsRequest_._type">
      <xs:complexContent>
         <xs:extension base="ns2:RegistryRequestType">
            <xs:sequence>
               <xs:element minOccurs="0" ref="ns1:AdhocQuery"/>
               <xs:element minOccurs="0" ref="ns1:ObjectRefList"/>
            </xs:sequence>
            <xs:attribute name="deletionScope" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UndeprecateObjectsRequest_._type">
      <xs:complexContent>
         <xs:extension base="ns2:RegistryRequestType">
            <xs:sequence>
               <xs:element minOccurs="0" ref="ns1:AdhocQuery"/>
               <xs:element minOccurs="0" ref="ns1:ObjectRefList"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UpdateObjectsRequest_._type">
      <xs:complexContent>
         <xs:extension base="ns2:RegistryRequestType">
            <xs:sequence>
               <xs:element ref="ns1:RegistryObjectList"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AcceptObjectsRequest_._type">
      <xs:complexContent>
         <xs:extension base="ns2:RegistryRequestType">
            <xs:sequence/>
            <xs:attribute name="correlationId" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="urn:ihe:iti:xds-b:2007" xmlns:ns4="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:ns3="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:ns2="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:ns1="http://www.w3.org/2004/08/xop/include" elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007" version="1.0">
   <xs:import namespace="http://www.w3.org/2004/08/xop/include"/>
   <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>
   <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"/>
   <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"/>
   <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
   <xs:element name="Document" type="tns:Document_._type"/>
   <xs:element name="DocumentRequest_._type" type="tns:DocumentRequest_._type"/>
   <xs:element name="DocumentResponse_._type" type="tns:DocumentResponse_._type"/>
   <xs:element name="Document_._type" type="tns:Document_._type"/>
   <xs:element name="ProvideAndRegisterDocumentSetRequest" type="tns:ProvideAndRegisterDocumentSetRequestType"/>
   <xs:element name="RetrieveDocumentSetRequest" type="tns:RetrieveDocumentSetRequestType"/>
   <xs:element name="RetrieveDocumentSetResponse" type="tns:RetrieveDocumentSetResponseType"/>
   <xs:complexType mixed="true" name="Document_._type">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Include"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="RetrieveDocumentSetRequestType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="DocumentRequest" type="tns:DocumentRequest_._type"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DocumentRequest_._type">
      <xs:sequence>
         <xs:element minOccurs="0" name="HomeCommunityId" type="xs:string"/>
         <xs:element name="RepositoryUniqueId" type="xs:string"/>
         <xs:element name="DocumentUniqueId" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RetrieveDocumentSetResponseType">
      <xs:sequence>
         <xs:element ref="ns3:RegistryResponse"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="DocumentResponse" type="tns:DocumentResponse_._type"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DocumentResponse_._type">
      <xs:sequence>
         <xs:element minOccurs="0" name="HomeCommunityId" type="xs:string"/>
         <xs:element name="RepositoryUniqueId" type="xs:string"/>
         <xs:element name="DocumentUniqueId" type="xs:string"/>
         <xs:element minOccurs="0" name="NewRepositoryUniqueId" type="xs:string"/>
         <xs:element minOccurs="0" name="NewDocumentUniqueId" type="xs:string"/>
         <xs:element name="mimeType" type="xs:string"/>
         <xs:element name="Document" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProvideAndRegisterDocumentSetRequestType">
      <xs:sequence>
         <xs:element ref="ns4:SubmitObjectsRequest"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Document" type="tns:Document_._type"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/XML/1998/namespace" version="1.0">
   <xs:attribute name="lang" type="xs:string"/>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.w3.org/2004/08/xop/include" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2004/08/xop/include" version="1.0">
   <xs:element name="Include" type="tns:Include"/>
   <xs:complexType name="Include">
      <xs:sequence/>
      <xs:attribute name="href" type="xs:string" use="required"/>
   </xs:complexType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://docs.oasis-open.org/wsrf/bf-2" xmlns:ns1="http://www.w3.org/2005/08/addressing" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/bf-2" version="1.0">
   <xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://ovh1.ihe-europe.net:8380/XDStarClient-ejb/DSUBRecipientWSService/DSUBRecipientWS?xsd=http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
   <xs:element name="BaseFault" type="tns:BaseFaultType"/>
   <xs:element name="Description_._type" type="tns:Description_._type"/>
   <xs:element name="ErrorCode_._type" type="tns:ErrorCode_._type"/>
   <xs:element name="FaultCause_._type" type="tns:FaultCause_._type"/>
   <xs:complexType name="BaseFaultType">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
         <xs:element name="Timestamp" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="Originator" type="ns1:EndpointReferenceType"/>
         <xs:element minOccurs="0" name="ErrorCode" type="tns:ErrorCode_._type"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Description" type="tns:Description_._type"/>
         <xs:element minOccurs="0" name="FaultCause" type="tns:FaultCause_._type"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FaultCause_._type">
      <xs:sequence>
         <xs:any namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErrorCode_._type">
      <xs:sequence/>
      <xs:attribute name="dialect" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="Description_._type">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute ref="xml:lang"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://docs.oasis-open.org/wsn/t-1" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsn/t-1" version="1.0">
   <xs:element name="Documentation" type="tns:Documentation"/>
   <xs:element name="ExtensibleDocumented" type="tns:ExtensibleDocumented"/>
   <xs:element name="QueryExpressionType" type="tns:QueryExpressionType"/>
   <xs:element name="TopicNamespace" type="tns:TopicNamespaceType"/>
   <xs:element name="TopicSet" type="tns:TopicSetType"/>
   <xs:element name="TopicType" type="tns:TopicType"/>
   <xs:element name="Topic_._type" type="tns:Topic_._type"/>
   <xs:complexType name="TopicSetType">
      <xs:complexContent>
         <xs:extension base="tns:ExtensibleDocumented">
            <xs:sequence>
               <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract="true" name="ExtensibleDocumented">
      <xs:sequence>
         <xs:element minOccurs="0" name="documentation" type="tns:Documentation"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType mixed="true" name="QueryExpressionType">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
      <xs:attribute name="Dialect" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="Topic_._type">
      <xs:complexContent>
         <xs:extension base="tns:TopicType">
            <xs:sequence/>
            <xs:attribute name="parent" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TopicType">
      <xs:complexContent>
         <xs:extension base="tns:ExtensibleDocumented">
            <xs:sequence>
               <xs:element minOccurs="0" name="MessagePattern" type="tns:QueryExpressionType"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Topic" type="tns:TopicType"/>
               <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            </xs:sequence>
            <xs:attribute name="final" type="xs:boolean"/>
            <xs:attribute name="messageTypes" type="xs:string"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType mixed="true" name="Documentation">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TopicNamespaceType">
      <xs:complexContent>
         <xs:extension base="tns:ExtensibleDocumented">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Topic" type="tns:Topic_._type"/>
               <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            </xs:sequence>
            <xs:attribute name="final" type="xs:boolean"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="targetNamespace" type="xs:string" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://docs.oasis-open.org/wsn/bw-2" targetNamespace="http://docs.oasis-open.org/wsn/bw-2" version="1.0">
   <xs:complexType name="commonOperations">
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="stringMatcher">
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="valueSetParser">
      <xs:complexContent>
         <xs:extension base="tns:stringMatcher">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://docs.oasis-open.org/wsn/b-2" xmlns:ns6="http://docs.oasis-open.org/wsn/t-1" xmlns:ns5="http://docs.oasis-open.org/wsrf/bf-2" xmlns:ns4="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:ns3="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:ns2="http://docs.oasis-open.org/wsn/bw-2" xmlns:ns1="http://www.w3.org/2005/08/addressing" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsn/b-2" version="1.0">
   <xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://ovh1.ihe-europe.net:8380/XDStarClient-ejb/DSUBRecipientWSService/DSUBRecipientWS?xsd=http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
   <xs:import namespace="http://docs.oasis-open.org/wsn/bw-2"/>
   <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"/>
   <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>
   <xs:import namespace="http://docs.oasis-open.org/wsrf/bf-2"/>
   <xs:import namespace="http://docs.oasis-open.org/wsn/t-1"/>
   <xs:element name="CreatePullPoint" type="tns:CreatePullPoint_._type"/>
   <xs:element name="CreatePullPointResponse" type="tns:CreatePullPointResponse_._type"/>
   <xs:element name="DestroyPullPoint" type="tns:DestroyPullPoint_._type"/>
   <xs:element name="DestroyPullPointResponse" type="tns:DestroyPullPointResponse_._type"/>
   <xs:element name="Filter" type="tns:FilterType"/>
   <xs:element name="GetCurrentMessage" type="tns:GetCurrentMessage_._type"/>
   <xs:element name="GetCurrentMessageResponse" type="tns:GetCurrentMessageResponse_._type"/>
   <xs:element name="GetMessages" type="tns:GetMessages_._type"/>
   <xs:element name="GetMessagesResponse" type="tns:GetMessagesResponse_._type"/>
   <xs:element name="InvalidFilterFault" type="tns:InvalidFilterFaultType"/>
   <xs:element name="InvalidMessageContentExpressionFault" type="tns:InvalidMessageContentExpressionFaultType"/>
   <xs:element name="InvalidProducerPropertiesExpressionFault" type="tns:InvalidProducerPropertiesExpressionFaultType"/>
   <xs:element name="InvalidTopicExpressionFault" type="tns:InvalidTopicExpressionFaultType"/>
   <xs:element name="Message_._type" type="tns:Message_._type"/>
   <xs:element name="MultipleTopicsSpecifiedFault" type="tns:MultipleTopicsSpecifiedFaultType"/>
   <xs:element name="NoCurrentMessageOnTopicFault" type="tns:NoCurrentMessageOnTopicFaultType"/>
   <xs:element name="NotificationMessage" type="tns:NotificationMessageHolderType"/>
   <xs:element name="NotificationProducerRP" type="tns:NotificationProducerRP_._type"/>
   <xs:element name="Notify" type="tns:Notify_._type"/>
   <xs:element name="NotifyMessageNotSupportedFault" type="tns:NotifyMessageNotSupportedFaultType"/>
   <xs:element name="PauseFailedFault" type="tns:PauseFailedFaultType"/>
   <xs:element name="PauseSubscription" type="tns:PauseSubscription_._type"/>
   <xs:element name="PauseSubscriptionResponse" type="tns:PauseSubscriptionResponse_._type"/>
   <xs:element name="QueryExpressionType" type="tns:QueryExpressionType"/>
   <xs:element name="Renew" type="tns:Renew_._type"/>
   <xs:element name="RenewResponse" type="tns:RenewResponse_._type"/>
   <xs:element name="ResumeFailedFault" type="tns:ResumeFailedFaultType"/>
   <xs:element name="ResumeSubscription" type="tns:ResumeSubscription_._type"/>
   <xs:element name="ResumeSubscriptionResponse" type="tns:ResumeSubscriptionResponse_._type"/>
   <xs:element name="Subscribe" type="tns:Subscribe_._type"/>
   <xs:element name="SubscribeCreationFailedFault" type="tns:SubscribeCreationFailedFaultType"/>
   <xs:element name="SubscribeResponse" type="tns:SubscribeResponse_._type"/>
   <xs:element name="SubscriptionManagerRP" type="tns:SubscriptionManagerRP_._type"/>
   <xs:element name="SubscriptionPolicy" type="tns:SubscriptionPolicyType"/>
   <xs:element name="SubscriptionPolicy_._type" type="tns:SubscriptionPolicy_._type"/>
   <xs:element name="TopicExpressionDialectUnknownFault" type="tns:TopicExpressionDialectUnknownFaultType"/>
   <xs:element name="TopicExpressionType" type="tns:TopicExpressionType"/>
   <xs:element name="TopicNotSupportedFault" type="tns:TopicNotSupportedFaultType"/>
   <xs:element name="UnableToCreatePullPointFault" type="tns:UnableToCreatePullPointFaultType"/>
   <xs:element name="UnableToDestroyPullPointFault" type="tns:UnableToDestroyPullPointFaultType"/>
   <xs:element name="UnableToDestroySubscriptionFault" type="tns:UnableToDestroySubscriptionFaultType"/>
   <xs:element name="UnableToGetMessagesFault" type="tns:UnableToGetMessagesFaultType"/>
   <xs:element name="UnacceptableInitialTerminationTimeFault" type="tns:UnacceptableInitialTerminationTimeFaultType"/>
   <xs:element name="UnacceptableTerminationTimeFault" type="tns:UnacceptableTerminationTimeFaultType"/>
   <xs:element name="UnrecognizedPolicyRequestFault" type="tns:UnrecognizedPolicyRequestFaultType"/>
   <xs:element name="Unsubscribe" type="tns:Unsubscribe_._type"/>
   <xs:element name="UnsubscribeResponse" type="tns:UnsubscribeResponse_._type"/>
   <xs:element name="UnsupportedPolicyRequestFault" type="tns:UnsupportedPolicyRequestFaultType"/>
   <xs:element name="UseRaw" type="tns:UseRaw_._type"/>
   <xs:complexType name="Notify_._type">
      <xs:complexContent>
         <xs:extension base="ns2:commonOperations">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" ref="tns:NotificationMessage"/>
               <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="NotificationMessageHolderType">
      <xs:sequence>
         <xs:element minOccurs="0" name="SubscriptionReference" type="ns1:EndpointReferenceType"/>
         <xs:element minOccurs="0" name="Topic" type="tns:TopicExpressionType"/>
         <xs:element minOccurs="0" name="ProducerReference" type="ns1:EndpointReferenceType"/>
         <xs:element name="Message" type="tns:Message_._type"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TopicExpressionType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="Dialect" type="xs:string" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="Message_._type">
      <xs:sequence>
         <xs:element minOccurs="0" ref="ns3:SubmitObjectsRequest"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType mixed="true" name="QueryExpressionType">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
      <xs:attribute name="Dialect" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="CreatePullPointResponse_._type">
      <xs:sequence>
         <xs:element name="PullPoint" type="ns1:EndpointReferenceType"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DestroyPullPointResponse_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GetCurrentMessageResponse_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FilterType">
      <xs:sequence>
         <xs:element minOccurs="0" name="TopicExpression" type="tns:TopicExpressionType"/>
         <xs:element minOccurs="0" ref="ns4:AdhocQuery"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GetCurrentMessage_._type">
      <xs:sequence>
         <xs:element name="Topic" type="tns:TopicExpressionType"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GetMessagesResponse_._type">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:NotificationMessage"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GetMessages_._type">
      <xs:sequence>
         <xs:element minOccurs="0" name="MaximumNumber" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InvalidFilterFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="UnknownFilter" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InvalidMessageContentExpressionFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InvalidProducerPropertiesExpressionFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InvalidTopicExpressionFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MultipleTopicsSpecifiedFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="NoCurrentMessageOnTopicFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="NotificationProducerRP_._type">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="TopicExpression" type="tns:TopicExpressionType"/>
         <xs:element minOccurs="0" name="FixedTopicSet" type="xs:boolean"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="TopicExpressionDialect" type="xs:string"/>
         <xs:element minOccurs="0" ref="ns6:TopicSet"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NotifyMessageNotSupportedFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PauseFailedFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PauseSubscriptionResponse_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PauseSubscription_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RenewResponse_._type">
      <xs:sequence>
         <xs:element name="TerminationTime" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Renew_._type">
      <xs:sequence>
         <xs:element name="TerminationTime" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResumeFailedFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ResumeSubscriptionResponse_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResumeSubscription_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SubscribeCreationFailedFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SubscribeResponse_._type">
      <xs:sequence>
         <xs:element name="SubscriptionReference" type="ns1:EndpointReferenceType"/>
         <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime"/>
         <xs:element minOccurs="0" name="TerminationTime" type="xs:dateTime"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SubscriptionManagerRP_._type">
      <xs:sequence>
         <xs:element name="ConsumerReference" type="ns1:EndpointReferenceType"/>
         <xs:element minOccurs="0" ref="tns:Filter"/>
         <xs:element minOccurs="0" ref="tns:SubscriptionPolicy"/>
         <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SubscriptionPolicyType">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SubscriptionPolicy_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TopicExpressionDialectUnknownFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TopicNotSupportedFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnableToCreatePullPointFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnableToDestroyPullPointFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnableToDestroySubscriptionFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnableToGetMessagesFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnacceptableInitialTerminationTimeFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence>
               <xs:element name="MinimumTime" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="MaximumTime" type="xs:dateTime"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnacceptableTerminationTimeFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence>
               <xs:element name="MinimumTime" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="MaximumTime" type="xs:dateTime"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnrecognizedPolicyRequestFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="UnrecognizedPolicy" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnsubscribeResponse_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Unsubscribe_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UnsupportedPolicyRequestFaultType">
      <xs:complexContent>
         <xs:extension base="ns5:BaseFaultType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="UnsupportedPolicy" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UseRaw_._type">
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="Subscribe_._type">
      <xs:sequence>
         <xs:element name="ConsumerReference" type="ns1:EndpointReferenceType"/>
         <xs:element minOccurs="0" ref="tns:Filter"/>
         <xs:element minOccurs="0" name="InitialTerminationTime" type="xs:string"/>
         <xs:element minOccurs="0" name="SubscriptionPolicy" type="tns:SubscriptionPolicy_._type"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CreatePullPoint_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DestroyPullPoint_._type">
      <xs:sequence>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.w3.org/2005/08/addressing" blockDefault="#all" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/08/addressing">
	
	<!-- Constructs from the WS-Addressing Core -->

	<xs:element name="EndpointReference" type="tns:EndpointReferenceType"/>
	  <xs:complexType name="EndpointReferenceType">
		    <xs:sequence>
			      <xs:element name="Address" type="tns:AttributedURIType"/>
			      <xs:element minOccurs="0" name="ReferenceParameters" type="tns:ReferenceParametersType"/>
			      <xs:element minOccurs="0" ref="tns:Metadata"/>
			      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		    </xs:sequence>
		    <xs:anyAttribute namespace="##other" processContents="lax"/>
	  </xs:complexType>
	
	  <xs:complexType name="ReferenceParametersType">
		    <xs:sequence>
			      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
		    </xs:sequence>
		    <xs:anyAttribute namespace="##other" processContents="lax"/>
	  </xs:complexType>
	
	  <xs:element name="Metadata" type="tns:MetadataType"/>
	  <xs:complexType name="MetadataType">
		    <xs:sequence>
			      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
		    </xs:sequence>
		    <xs:anyAttribute namespace="##other" processContents="lax"/>
	  </xs:complexType>
	
	  <xs:element name="MessageID" type="tns:AttributedURIType"/>
	  <xs:element name="RelatesTo" type="tns:RelatesToType"/>
	  <xs:complexType name="RelatesToType">
		    <xs:simpleContent>
			      <xs:extension base="xs:anyURI">
				        <xs:attribute default="http://www.w3.org/2005/08/addressing/reply" name="RelationshipType" type="tns:RelationshipTypeOpenEnum" use="optional"/>
				        <xs:anyAttribute namespace="##other" processContents="lax"/>
			      </xs:extension>
		    </xs:simpleContent>
	  </xs:complexType>
	
	  <xs:simpleType name="RelationshipTypeOpenEnum">
		    <xs:union memberTypes="tns:RelationshipType xs:anyURI"/>
	  </xs:simpleType>
	
	  <xs:simpleType name="RelationshipType">
		    <xs:restriction base="xs:anyURI">
			      <xs:enumeration value="http://www.w3.org/2005/08/addressing/reply"/>
		    </xs:restriction>
	  </xs:simpleType>
	
	  <xs:element name="ReplyTo" type="tns:EndpointReferenceType"/>
	  <xs:element name="From" type="tns:EndpointReferenceType"/>
	  <xs:element name="FaultTo" type="tns:EndpointReferenceType"/>
	  <xs:element name="To" type="tns:AttributedURIType"/>
	  <xs:element name="Action" type="tns:AttributedURIType"/>

	  <xs:complexType name="AttributedURIType">
		    <xs:simpleContent>
			      <xs:extension base="xs:anyURI">
				        <xs:anyAttribute namespace="##other" processContents="lax"/>
			      </xs:extension>
		    </xs:simpleContent>
	  </xs:complexType>
	
	  <!-- Constructs from the WS-Addressing SOAP binding -->

	<xs:attribute name="IsReferenceParameter" type="xs:boolean"/>
	
	  <xs:simpleType name="FaultCodesOpenEnumType">
		    <xs:union memberTypes="tns:FaultCodesType xs:QName"/>
	  </xs:simpleType>
	
	  <xs:simpleType name="FaultCodesType">
		    <xs:restriction base="xs:QName">
			      <xs:enumeration value="tns:InvalidAddressingHeader"/>
			      <xs:enumeration value="tns:InvalidAddress"/>
			      <xs:enumeration value="tns:InvalidEPR"/>
			      <xs:enumeration value="tns:InvalidCardinality"/>
			      <xs:enumeration value="tns:MissingAddressInEPR"/>
			      <xs:enumeration value="tns:DuplicateMessageID"/>
			      <xs:enumeration value="tns:ActionMismatch"/>
			      <xs:enumeration value="tns:MessageAddressingHeaderRequired"/>
			      <xs:enumeration value="tns:DestinationUnreachable"/>
			      <xs:enumeration value="tns:ActionNotSupported"/>
			      <xs:enumeration value="tns:EndpointUnavailable"/>
		    </xs:restriction>
	  </xs:simpleType>
	
	  <xs:element name="RetryAfter" type="tns:AttributedUnsignedLongType"/>
	  <xs:complexType name="AttributedUnsignedLongType">
		    <xs:simpleContent>
			      <xs:extension base="xs:unsignedLong">
				        <xs:anyAttribute namespace="##other" processContents="lax"/>
			      </xs:extension>
		    </xs:simpleContent>
	  </xs:complexType>
	
	  <xs:element name="ProblemHeaderQName" type="tns:AttributedQNameType"/>
	  <xs:complexType name="AttributedQNameType">
		    <xs:simpleContent>
			      <xs:extension base="xs:QName">
				        <xs:anyAttribute namespace="##other" processContents="lax"/>
			      </xs:extension>
		    </xs:simpleContent>
	  </xs:complexType>
	
	  <xs:element name="ProblemHeader" type="tns:AttributedAnyType"/>
	  <xs:complexType name="AttributedAnyType">
		    <xs:sequence>
			      <xs:any namespace="##any" processContents="lax"/>
		    </xs:sequence>
		    <xs:anyAttribute namespace="##other" processContents="lax"/>
	  </xs:complexType>
	
	  <xs:element name="ProblemIRI" type="tns:AttributedURIType"/>
	
	  <xs:element name="ProblemAction" type="tns:ProblemActionType"/>
	  <xs:complexType name="ProblemActionType">
		    <xs:sequence>
			      <xs:element minOccurs="0" ref="tns:Action"/>
			      <xs:element minOccurs="0" name="SoapAction" type="xs:anyURI"/>
		    </xs:sequence>
		    <xs:anyAttribute namespace="##other" processContents="lax"/>
	  </xs:complexType>
	
</xs:schema>  </wsdl:types>
  <wsdl:message name="notify">
    <wsdl:part element="ns1:Notify" name="Notify">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DSUBRecipientWS">
    <wsdl:operation name="notify">
      <wsdl:input message="tns:notify" name="notify" wsam:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/Notify" wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/Notify">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DSUBRecipientWSServiceSoapBinding" type="tns:DSUBRecipientWS">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing wsdl:required="false"/>
    <wsp:PolicyReference URI="#DSUBRecipientWSServiceSoapBinding_WSAM_Addressing_Policy"/>
    <wsdl:operation name="notify">
      <soap12:operation soapAction="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/Notify" style="document"/>
      <wsdl:input name="notify">
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DSUBRecipientWSService">
    <wsdl:port binding="tns:DSUBRecipientWSServiceSoapBinding" name="DSUBRecipientWSPort">
      <soap12:address location="https://server:443/path/HS.IHE.DSUB.NotificationConsumer.Services.cls"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="DSUBRecipientWSServiceSoapBinding_WSAM_Addressing_Policy"><wsam:Addressing wsp:Optional="true"><wsp:Policy/></wsam:Addressing></wsp:Policy>
</wsdl:definitions>